html {
  box-sizing: border-box;
}

body {
  font: 10px Helvetica Neue, Helvetica, sans-serif, Arial;
  margin: 0;
  text-anchor: end;
  /* background-color: rgb(255, 255, 255); */
}

*, *:before, *:after {
  box-sizing: inherit;
}

h2 {
  font-size: 3vw;
}

h3 {
display: inline-block;
  font-size: 16pt;
  background-color: rgb(255, 255, 255, 0.5);
  margin: 0;
  padding: 0;
}

ul {
  font-size: 14pt;
  padding-bottom: 10%;
  padding-left: 5%;
    font-family: "Didot LT STD";
}

li {
  padding: 1%;
}

p {
  font-size: 14pt;
  font-family: "Didot LT STD";
}
a:link {
  color: black;
  font-weight: bold;
}


.square_btn {
    color: #ffffff;
    display: inline-block;
    padding: 0.1em 1em;
    text-decoration: none;
    background-color: #d4d4d4;
    /* border: solid 2px #535353; */
    border-radius: 3px;
    transition: .4s;
    font-size: 20px;
      line-height: 35px;
    margin-top: 1%;
      height: 40px;
    vertical-align: middle;
    text-align: center;



}

.square_btn:hover {
    background: #a1a1a1;
    color: rgb(0, 0, 0);
}

.titleBox {
  /* display: grid; */
  /* height: 400px; */
  /* z-index: -1; */
}

.title {
  background-image: url("assets/faces.png");
  padding: 10%;
  position: relative;
  max-width: 100%;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover, contain;
  /* background-size: contain,cover; */
  background-color: #f7f7f7;

}

.header h1 {
    background-color: rgb(247, 247, 247,0.5);
  /* background-color: rgb(255, 255, 255, 0.5); */
  display: inline-block;
  font-size: 5vw;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  /* position:absolute; */
  /* margin: 1vw; */
  width: 30vw;
  overflow-wrap: break-word;
  top: 10%;
  color: rgb(36, 36, 36);
}
hr{
  border: 0.5px solid rgb(84, 84, 84);
  border-radius: 5px;
  margin-right:  10%;
  /* position: static; */
}

/* visited link */
a:visited {
  color: black;
}

.title p {
    background-color: rgb(247, 247, 247,0.5);
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  /* position: absolute; */
  width: 50vw;
  font-size: 14pt;
  /* top:20% */
  overflow-wrap: break-word;
  color: rgb(8, 8, 8);
  /* margin: 10vw; */
  /* margin-left: 10vw; */
}

iframe {
  display: block;
  margin: auto;
  padding: 5%;
  z-index: 10;
  height: 40vw;
  width: 100%;
  /* margin-right: auto; */
}

.process {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  position: relative;
  padding-left: 10%;
  max-width: 100%;
  background-size: contain, cover;

}

.process p {
  background-color: white;
  width: 40vw;
  /* top:20% */
  overflow-wrap: break-word;
}

.describeContainer img {
  width: 30vw;
  padding: 6%;
  left: 0;
}

.describeContainer1 img {
  width: 50vw;
  padding: 6%;
  left: 0;
}

.describeContainer2 img {
  padding: 3%;
  left: 0;
}

.describeContainer, .describeContainer1, .describeContainer2 {
  display: flex;
  align-items: center;
}

#dataSource {
  position: absolute;
  text-align: right;
  display: inline-block;
  margin-right: 0px;
  padding-right: : 0px;
  bottom: 3vh;
  right: 1%;
}

#dataSource p {
  display: inline-block;
  font-family: serif;
  font-size: 13pt;
  color: #505050;
}

#metLogo {
  display: inline-block;
  background-color: none;
  content: url(assets/metlogo.png);
  max-width: 50px;
}
